.header {
    position: absolute;
}
.sign-in-container {
    background-color: #142b45cc;
    height: 100vh;
}
.sign-in-card {
    width: 20rem;
    height: 25rem;
    background: #8840847a;
    color: var(--white);
    z-index: 3;
}
.sign-in-card a:hover {
    color: var(--secondary-color);
}
.rounded-5 {
    border-radius: 15px;
}
.image-slide {
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.color-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgb(153,161,171);
    background: radial-gradient(circle, rgb(125 142 163 / 24%) 0%, rgb(34 56 97 / 48%) 46%, rgb(37 9 45) 100%);
    z-index: 1;
}